<html>
  <head>
    <title>OCR</title>
  </head>
  <body>

    <h2>Results</h2>
    
    <textarea cols="50" rows="10">{{ text }}</textarea>

    <hr>

    <a href="/">&larr; Go back</a>

  </body>
</html>